h1 {
    text-align: center;
    text-shadow: 1px 1px 2px red;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {color: rgb(0, 17, 255);}
  }
body {
    background-color: grey;
}
.app {
    text-align: center;
}
.computerChoice {
    background-color: transparent;
}
.computerChoice:hover {
    background-color: transparent;
}
.rock {
    background-color: transparent;
}
.paper {
    background-color: transparent;
}
.scissors {
    background-color: transparent;
}
.result {
    background-color: transparent
}
img {
    height: 100px;
    border-radius: 10px;

}
img:hover{ 
    transform: rotate(360deg);
    transition-duration: 4s;
} 
h2 {
    text-align: center;
}
p {
    text-align: center;
}
    